body{
    color: royalblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #000;
}
#post h1{
    font-size: 20px;
}

#cabecera{
    background-color: royalblue;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    box-shadow: -0px 2px 10px 0px black;
}
#cabecera #tagline{
    font-weight: normal;
    padding: 1em 0 0 0;
}
